#grid-5x6{

    width: fit-content;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-gap:  8px; 
  
    margin: 0 auto;
    padding-top: 3em;
}
  
.cell {
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    font-size: 24px;
    font-family: 'Nunito';
    text-transform: capitalize;
    
}


@media screen and (max-height: 700px){
    #grid-5x6{
        grid-template-columns: 50px 50px 50px 50px 50px;
    }
    .cell{
        width: 48px;
        height: 48px;
    }
}


@media screen and (max-width: 550px) {
    #grid-5x6{
        grid-template-columns: 40px 40px 40px 40px 40px;
    }
    .cell{
        width: 40px;
        height: 40px;
    }
}